main{
    background: linear-gradient(45deg, #110d0d, rgba(0, 0, 0) 45%);
    width: 100vw;
    color: white;
}
#main-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 30%;
    justify-content: space-evenly;
}
.first p{
    opacity: 0.8;
    margin: 6%;
}
.second img{
    width: 100%;
    float: center;
    margin-top: 6%;
}
.third, .fourth{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
    margin: auto auto;
}
.fourth{
    width: 30%;
}
.third table{
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    width: 100%;
    opacity: 0.9;
}
tr{
    background-color: rgb(2, 63, 45);
}
th, td{
    border-bottom: 1px solid grey;
    padding: 4%;
    font-weight: bold;
    font-size: 1.2em;
}
td{
    padding-left: 22%;
}
aside p{
    display: flex;
}
.fourth img{
    width: 6%;
}
@media only screen and (max-width: 850px){
    #main-content{
        display: flex;
        flex-direction: column;
        justify-content:space-between
    }
    .contents{
        width: 80%;
        display: block;
        margin: auto;
    }
    .second{
        width: 50%;
    }
    table{
        margin: auto;
    }
}
