body{
    width: 100vw;
}
main{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: linear-gradient(45deg, #110d0d, rgba(0, 0, 0) 45%);
    display: flex;
    flex-direction: column;
}
p, h1{
    opacity: 0.8;
}
#main-content{
    margin-top: 15vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 37% 37%;
    justify-content: space-evenly;
}
#second{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}
fieldset{
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 2%;
}
legend{
    color: white;
    background-color: darkcyan;
    padding: 6px;
}
input{
    color: white;
    background-color: inherit;
    display: block;
    width: 75%;
    height: 30px;
    margin: 22px;
    border-bottom: 1.5px inset rgb(255, 255, 255);
    border-top: none;
    border-radius: 5px;
}
input::placeholder{
    color: white;
    opacity: 0.9;
    font-size: 1.2em;
}
input:focus, textarea:focus{
    width: 90%;
    border-bottom: 1px inset darkcyan;
    border-top: none;
    font-size: 1em;
    transition: 0.4s;
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea{
    color: white;
    background-color: inherit;
    border-bottom: 1.5px inset rgb(255, 255, 255);
    display: block;
    width: 75%;
    margin: 22px;
    border-top: none;
    border-radius: 5px;
}
textarea::placeholder{
    color: white;
    opacity: 0.9;
    font-size: 1.4em;
}
input[type="submit"]{
    width: 30%;
    font-size: 0.9em;
    height: 30px;
    text-decoration: none;
    color: white;
    background-color: green;
    border: none;
    border-radius: 6px;
    margin: 0px auto;
}
input[type="submit"]:hover{
    background-color: darkcyan;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    width: 50%;
}
input[type="submit"]:active{
    background-color: rgb(53, 56, 53);
    transition: 0.1s;
}
#third img{
    width: 100%;
}
#fourth{
    grid-column-start: 1;
    grid-column-end: 3;
}
.personal{
    display: flex;
    flex-direction: row;
    margin: 22px;
}
#fourth h1{
    text-align: center;
}
aside img{
    width: 35px;
    height: 20px;
}
aside p{
    margin: 0px 12px;
}
aside a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 0px;
}
@media only screen and (max-width: 700px){
    #main-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #main-content > div{
        width: 80%;
        margin: auto;
    }
    aside img{
        width: 22px;
        height: 10px;
    }
    aside p{
        font-size: 0.5em;
        margin: 0px 6px;
    }
    aside a{
        font-size: 0.5em;
        margin-top: 0px;
    }
    #fourth h1{
        font-size: 1em;
    }
}